<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col">
    <h1>Orders</h1>
  </div>
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Account</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.date %></td>
            <td><%= number_to_currency order.amount %></td>
            <td><%= order.status %></td>
            <td>
              <%= link_to order.account.name, order.account %>
            </td>
            <td><%= link_to 'Show', order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
