<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col">
    <p>
      <strong>Date:</strong>
      <%= @order.date %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Amount:</strong>
      <%= number_to_currency @order.amount %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Status:</strong>
      <%= @order.status %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Account:</strong>
      <%= link_to @order.account.name, @order.account %>
    </p>
  </div>
  <div class="col">
    <%= link_to 'All Orders', orders_path %>
  </div>
</div>
